* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    height: 120px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
}

.container {
    background-color: rgb(255, 255, 255);
    height: 50%;
}

.spinner {
    display: block;
    margin: 0 auto;
}

.profile-pic img {
    height: 250px;
}

.profile {
    display: flex;
    width: 600px;
    margin: 15px auto;
}

.profile h3 {
    margin-left: 8px;
}

.allusers {
    width: 350px;
    margin: 20px auto;
    text-align: left;
}

.allusers tr:hover {
    text-decoration: underline;
    cursor: pointer;
}

.userdetails {
    padding: 6px;
}

.userdetails td {
    vertical-align: top;
    padding: 4px;
}